Repository jabardigitalservice/sapawarga-webadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dev, test_api, test_backend

build_dev:
  stage: build
  script:
  - docker-compose -f docker-compose.dev.yml build
  - docker images
  - docker-compose -f docker-compose.dev.yml push

test_api:
  stage: test
  script:
  - docker-compose -f docker-compose.dev.yml pull
  - docker images
  - docker-compose -f docker-compose.dev.yml up -d
  - sleep 60
  - docker ps
  - docker-compose -f docker-compose.dev.yml exec -T api composer sniff
  - docker-compose -f docker-compose.dev.yml exec -T api php yii seeder
  ...

test_backend:
  stage: test
  script:
  - docker-compose -f docker-compose.dev.yml pull
  - docker images
  - docker-compose -f docker-compose.dev.yml up -d
  - sleep 60
  - docker ps
  - docker-compose -f docker-compose.dev.yml exec -T backend npm run lint
  ...

admin-userManagement delete role latitude and longitude
  backend/src/views/user/components/FormUser.vue
Due: build_dev, test_backend

admin-userManagement get latitude and longitude when editing user
  backend/src/views/user/components/FormUser.vue
Due: build_dev, test_backend

admin-userManagement set latitude and longitude when add user and edit
  backend/src/views/user/components/FormUser.vue
Due: build_dev, test_backend

admin-userManagement delete style unused in responsive
  backend/src/views/user/components/FormUser.vue
Due: build_dev, test_backend

Apply suggestion to backend/src/views/aspiration/detail.vue
  backend/src/views/aspiration/detail.vue
Due: build_dev, test_backend

[Polling] [API] Mock server/data for polling
  mock-server/db.json
  mock-server/index.js
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_dev, test_api, test_backend

[Polling] [API] Mock server/data for vote
  mock-server/index.js
Due: none

Update .codeclimate.yml
  .codeclimate.yml
Due: build_dev, test_api, test_backend

admin-validation-latlon delete console log
  backend/src/views/nomorPenting/components/Detail.vue
Due: build_dev, test_backend

admin-validation-latlon register validator latlon
  backend/src/views/nomorPenting/components/Detail.vue
Due: build_dev, test_backend

admin-validation-latlon validation latlon format number only
  backend/src/views/nomorPenting/components/Detail.vue
Due: build_dev, test_backend

admin-validation-latlon validation latlon format number only
  backend/src/views/user/components/FormUser.vue
Due: build_dev, test_backend

admin-validation-latlon register validation
  backend/src/views/user/components/FormUser.vue
Due: build_dev, test_backend

admin-validation-latlon fix linter
  backend/src/views/nomorPenting/components/Detail.vue
Due: build_dev, test_backend

[Aspirasi] [API] Quick fix remove validasi description minimum chars
  api/models/Aspirasi.php
  api/tests/unit/models/AspirasiTest.php
Due: build_dev, test_api, test_backend

admin-aspiration-detail table approval note
  backend/src/views/aspiration/detail.vue
Due: build_dev, test_backend

admin-aspiration-detail add varible in data
  backend/src/views/aspiration/detail.vue
Due: build_dev, test_backend

admin-aspiration-detail add function tableRowClassName
  backend/src/views/aspiration/detail.vue
Due: build_dev, test_backend

admin-aspiration-detail get approval_note
  backend/src/views/aspiration/detail.vue
Due: build_dev, test_backend

admin-aspiration-detail show data in table approval note
  backend/src/views/aspiration/detail.vue
Due: build_dev, test_backend

admin-aspiration-detail add class
  backend/src/views/aspiration/detail.vue
Due: build_dev, test_backend

admin-validation-latlon change error message
  backend/src/views/nomorPenting/components/Detail.vue
Due: build_dev, test_backend

admin-validation-latlon change error message
  backend/src/views/user/components/FormUser.vue
Due: build_dev, test_backend

[Polling] [API] Mock server/data for polling
  mock-server/db.json
Due: none

admin-aspiration-detail v-if show keterangan if not null
  backend/src/views/aspiration/detail.vue
Due: build_dev, test_backend

admin-aspiration-detail delete unused code
  backend/src/views/aspiration/detail.vue
Due: build_dev, test_backend

[API][Notification] Mock API for /notification endpoint
  mock-server/db.json
  mock-server/index.js
Due: none

[API][Notification] Rename existing Notification model to Message [ci skip]
  api/models/Broadcast.php
  api/models/Message.php
  api/models/User.php
  api/tests/unit/models/MessageTest.php
Due: build_dev, test_api, test_backend

Path conditions:
  build_dev: any of: api/**/*, backend/**/*, *.yml
  test_api: any of: api/**/*, *.yml
  test_backend: any of: api/**/*, backend/**/*, *.yml
