Repository jabardigitalservice/sapawarga-webadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dev, test_api, test_backend

build_dev:
  stage: build
  script:
  - docker-compose -f docker-compose.dev.yml build
  - docker images
  - docker-compose -f docker-compose.dev.yml push

test_api:
  stage: test
  script:
  - docker-compose -f docker-compose.dev.yml pull
  - docker images
  - docker-compose -f docker-compose.dev.yml up -d
  - sleep 60
  - docker ps
  - docker-compose -f docker-compose.dev.yml exec -T api composer sniff
  - docker-compose -f docker-compose.dev.yml exec -T api php yii seeder
  ...

test_backend:
  stage: test
  script:
  - docker-compose -f docker-compose.dev.yml pull
  - docker images
  - docker-compose -f docker-compose.dev.yml up -d
  - sleep 60
  - docker ps
  - docker-compose -f docker-compose.dev.yml exec -T backend npm run lint
  ...

admin-broadcast-edit button draft in edit
  backend/src/views/broadcast/components/FormBroadcast.vue
Due: build_dev, test_backend

admin-broadcast-edit fetch id
  backend/src/views/broadcast/components/FormBroadcast.vue
Due: build_dev, test_backend

admin-broadcast-edit edit validation title form
  backend/src/views/broadcast/components/FormBroadcast.vue
Due: build_dev, test_backend

admin-broadcast-edit catch error
  backend/src/views/broadcast/components/FormBroadcast.vue
Due: build_dev, test_backend

admin-broadcast-edit update broadcast
  backend/src/views/broadcast/components/FormBroadcast.vue
Due: build_dev, test_backend

admin-broadcast-edit edit component
  backend/src/views/broadcast/edit.vue
Due: build_dev, test_backend

[API] [Notification] Re-add php-fcm wrapper [ci skip]
  api/composer.json
  api/composer.lock
Due: build_dev, test_api, test_backend

admin-profile
  backend/src/lang/id.js
  backend/src/layout/components/Navbar.vue
  backend/src/router/index.js
  backend/src/views/profile/index.vue
Due: build_dev, test_backend

[Admin] [Broadcast] Fix issue disabled button if status Terkirim
  backend/src/views/broadcast/list.vue
Due: build_dev, test_backend

admin-broadcast-form add validation for description/message
  backend/src/views/broadcast/components/FormBroadcast.vue
Due: build_dev, test_backend

admin-profile router
  backend/src/router/index.js
Due: build_dev, test_backend

[Admin] [Broadcast] Fix column width
  backend/src/views/broadcast/list.vue
Due: build_dev, test_backend

admin-broadcast-form placeholder
  backend/src/views/broadcast/components/FormBroadcast.vue
Due: build_dev, test_backend

create layout for view broadcast
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

[API] [Notification] Subscribe new token to topics [ci skip]
  api/models/Notification.php
  api/models/User.php
Due: build_dev, test_api, test_backend

[API] Fix code style [ci skip]
  .env-dev
  api/models/User.php
Due: build_dev, test_api, test_backend

change component for view broadcast
  backend/src/router/modules/broadcast.js
Due: build_dev, test_backend

view layout for broadcast
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

admin-profile view profile
  backend/src/views/profile/index.vue
Due: build_dev, test_backend

admin-assets facebook icon
  backend/src/assets/facebook.svg
Due: build_dev, test_backend

fix lint in view broadcast
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

admin-assets instagram
  backend/src/assets/instagram.svg
Due: build_dev, test_backend

[Admin] [Broadcast] Fix tombol edit kebalik
  backend/src/views/broadcast/list.vue
Due: build_dev, test_backend

admin-twitter assets
  backend/src/assets/twitter.svg
Due: build_dev, test_backend

clean up code
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

change order mount volume
  docker-compose.dev.yml
  docker-compose.yml
Due: build_dev, test_api, test_backend

[API] [Seed] Revise seed data for 'user' table [ci skip]
  api/commands/SeederController.php
  api/migrations/seeder/staff_user_role_permission_20190423.sql
  api/migrations/seeder/user_and_permission.sql
Due: build_dev, test_api, test_backend

add /app/dist volume
  docker-compose.dev.yml
Due: build_dev, test_api, test_backend

remove volumes in production docker compose file
  docker-compose.yml
Due: build_dev, test_api, test_backend

release all component
  .gitlab-ci.yml
Due: build_dev, test_api, test_backend

[Mock] Update mock path & data for aspirasi
  mock-server/index.js
Due: none

admin-broadcast-view added class button-send
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

admin-broadcast-view responsive table
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

admin-broadcast-view table title
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

admin-broadcast-view added stripe table
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

admin-broadcast-view button
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

admin-broadcast-view delete command
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

admin-broadcast-view added margin in card
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

admin-broadcast-view delete media query
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

admin-broadcast-view send data
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

Path conditions:
  build_dev: any of: api/**/*, backend/**/*, *.yml
  test_api: any of: api/**/*, *.yml
  test_backend: any of: api/**/*, backend/**/*, *.yml
