Repository jabardigitalservice/sapawarga-webadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api_lint, admin_lint, api_test

.gitlab-ci.yml:

stages:
  - test

api_lint:
  stage: test
  image: javanlabs/php-tools:7.2
  only:
    changes:
      - api/**/*
  before_script:
    - cd api/
    - composer install --no-scripts --no-progress --no-suggest --ignore-platform-reqs
  script:
    - composer sniff

admin_lint:
  stage: test
  image: node:10
  only:
    changes:
      - backend/**/*
  before_script:
    - cd backend/
    - npm install
  script:
    - npm run lint
    - npm run test:unit

api_test:
  stage: test
  image: docker:latest
  services:
    - docker:dind
  only:
    changes:
      - api/**/*
      - nginx/**/*
      - "*.yml"
  before_script:
    - apk add --no-cache py-pip python-dev libffi-dev openssl-dev gcc libc-dev make
    - pip install docker-compose
  script:
    - docker-compose -f docker-compose.dev.yml up -d --build
    - sleep 30
    - docker-compose -f docker-compose.dev.yml exec -T api php yii seeder
    - docker-compose -f docker-compose.dev.yml exec -T api composer run test

[API] [Phonebook] Add numbers for rumah sakit
  api/migrations/seeder/phonebook.sql
Due: api_lint, api_test

docker nginx, remove frontend config (deleted depends)
  nginx/image-files/etc/nginx/nginx.conf
Due: api_test

[API] General Upload
  api/models/GeneralUploadForm.php
  api/tests/unit/models/GeneralUploadFormTest.php
Due: api_lint, api_test

[API] General upload: unit & api test
  api/tests/api/GeneralUploadCest.php
  api/tests/unit/models/GeneralUploadFormTest.php
Due: api_lint, api_test

[API] Scaffolding API endpoint attachment file upload
  api/config/web.php
  api/models/AttachmentForm.php
  api/modules/v1/controllers/AttachmentController.php
  api/tests/api/AttachmentCest.php
  api/tests/unit/models/AttachmentFormTest.php
Due: api_lint, api_test

[API] [Upload] More test case, implement code [ci skip]
  api/config/params.php
  api/models/AttachmentForm.php
  api/tests/unit/models/AttachmentFormTest.php
Due: api_lint, api_test

[API] [General Upload] Scaffolding API test case
  api/tests/api/AttachmentCest.php
Due: api_lint, api_test

[API] [Upload] More test case, implement code [ci skip]
  api/tests/api/AttachmentCest.php
Due: api_lint, api_test

[API] [Upload] More test case, implement code [ci skip]
  api/modules/v1/controllers/AttachmentController.php
  api/tests/api/AttachmentCest.php
Due: api_lint, api_test

[API] [Upload] refactor using solid principle
  api/models/Attachment/PhoneBookPhotoForm.php
  api/models/AttachmentForm.php
  api/modules/v1/controllers/AttachmentController.php
  api/tests/api/AttachmentCest.php
  api/tests/unit/models/Attachment/PhoneBookPhotoFormTest.php
Due: api_lint, api_test

[API] [Upload] implement
  api/models/Attachment/PhoneBookPhotoForm.php
  api/modules/v1/controllers/AttachmentController.php
Due: api_lint, api_test

admin-setup .env
  backend/.env.development
Due: admin_lint

[API] [Broadcast] Add FCM wrapper
  api/composer.json
  api/composer.lock
Due: api_lint, api_test

admin-broadcast-new-message create post request api
  backend/src/api/broadcast.js
Due: admin_lint

admin-broadcast-new-message added lang-id broadcast
  backend/src/lang/id.js
Due: admin_lint

admin-broadcast-new-message add language for broadcast
  backend/src/lang/id.js
Due: admin_lint

admin-routing broadcast
  backend/src/router/modules/broadcast.js
Due: admin_lint

admin-broadcast-new-message form
  backend/src/views/broadcast/components/FormBroadcast.vue
Due: admin_lint

admin-broadcast-new-message list
  backend/src/views/broadcast/list.vue
Due: admin_lint

admin-lint fix
  backend/src/api/broadcast.js
  backend/src/router/modules/broadcast.js
  backend/src/views/broadcast/components/FormBroadcast.vue
  backend/src/views/broadcast/create.vue
  backend/src/views/broadcast/list.vue
Due: admin_lint

[Admin] [Broadcast] List page
  backend/package-lock.json
  backend/package.json
  backend/src/api/broadcast.js
  backend/src/views/broadcast/list.vue
  backend/yarn.lock
Due: admin_lint

[API] [Broadcast] Add additional fields for area names
  api/models/Broadcast.php
Due: api_lint, api_test

[Admin] [Broadcast] List page, add moment
  backend/package-lock.json
  backend/package.json
  backend/src/lang/id.js
  backend/src/main.js
  backend/src/router/modules/broadcast.js
  backend/src/views/broadcast/list.vue
  backend/yarn.lock
Due: admin_lint

[API] [Broadcast] Refactor STATUS_ACTIVE to STATUS_PUBLISHED
  api/messages/en-US/app.php
  api/messages/id-ID/app.php
  api/models/Broadcast.php
  api/models/BroadcastSearch.php
  api/modules/v1/controllers/BroadcastController.php
Due: api_lint, api_test

Revert "[API] [Broadcast] Add FCM wrapper"
  api/composer.json
  api/composer.lock
Due: api_lint, api_test

refine stages: build, test, release
  .gitlab-ci.yml
Due: api_test

admin-.env
  backend/.env.development
Due: admin_lint

admin-broadcast-new-message form broadcast
  backend/src/views/broadcast/components/FormBroadcast.vue
Due: admin_lint

admin-broadcast-new-message placeholder description broadcast
  backend/src/views/broadcast/components/FormBroadcast.vue
Due: admin_lint

[API] [Broadcast] Test topic subscription and sending message
  .env-dev
  .env-dist
  api/modules/v1/controllers/BroadcastController.php
Due: api_lint, api_test

admin-delete space in .env
  backend/.env.development
Due: admin_lint

admin-broadcast-new-message fix lint
  backend/src/views/broadcast/components/FormBroadcast.vue
Due: admin_lint

[API] [PhonebookPhoto] Fix required fields
  api/models/Attachment/PhoneBookPhotoForm.php
Due: api_lint, api_test

[API] [User] Read push_token from login request [ci skip]
  api/migrations/m190516_031730_add_push_token_column_to_user_table.php
  api/models/LoginForm.php
  api/models/User.php
  api/modules/v1/controllers/UserController.php
Due: api_lint, api_test

rename .env-dist to .env-sample; make docker-compose.yml similar to docker-compose.dev.yml
  .env-sample
  docker-compose.dev.yml
  docker-compose.yml
Due: api_test

make volume for /app/node_modules in backend
  docker-compose.dev.yml
  docker-compose.yml
Due: api_test

admin-broadcast-edit api fetch id
  backend/src/api/broadcast.js
Due: admin_lint

admin-broadcast-edit add api update broadcast
  backend/src/api/broadcast.js
Due: admin_lint

admin-broadcast-edit routing edit broadcast
  backend/src/router/modules/broadcast.js
Due: admin_lint
