Repository jabardigitalservice/sapawarga-webadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_dev, test_api, test_backend

build_dev:
  stage: build
  script:
  - docker-compose -f docker-compose.dev.yml build
  - docker images
  - docker-compose -f docker-compose.dev.yml push

test_api:
  stage: test
  script:
  - docker-compose -f docker-compose.dev.yml pull
  - docker images
  - docker-compose -f docker-compose.dev.yml up -d
  - sleep 60
  - docker ps
  - docker-compose -f docker-compose.dev.yml exec -T api composer sniff
  - docker-compose -f docker-compose.dev.yml exec -T api php yii seeder
  ...

test_backend:
  stage: test
  script:
  - docker-compose -f docker-compose.dev.yml pull
  - docker images
  - docker-compose -f docker-compose.dev.yml up -d
  - sleep 60
  - docker ps
  - docker-compose -f docker-compose.dev.yml exec -T backend npm run lint
  ...

admin-broadcast-view fix linter
  backend/src/views/broadcast/list.vue
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

Membuat variabel 'local_storage_base_url' pada file 'api/config/params.php' dibaca dari environment variable
  api/config/params.php
Due: build_dev, test_api, test_backend

[API] [Brodcast] Send push notif for new published broadcast [ci skip]
  api/models/Broadcast.php
  api/models/Notification.php
  api/models/User.php
  api/modules/v1/controllers/BroadcastController.php
Due: build_dev, test_api, test_backend

[Mock] CORS enable
  mock-server/index.js
Due: none

[API] [Broadcast] Send push notif for updated broadcast [ci skip]
  api/models/Broadcast.php
  api/modules/v1/controllers/UserController.php
Due: build_dev, test_api, test_backend

[API] [Broadcast] Skip push notification on test environment
  api/models/Broadcast.php
Due: build_dev, test_api, test_backend

Update show.vue
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

admin-profile linter
  backend/src/router/index.js
Due: build_dev, test_backend

admin-profile redirect to profile when login success
  backend/src/views/login/index.vue
Due: build_dev, test_backend

admin-profile social media
  backend/src/views/profile/index.vue
Due: build_dev, test_backend

[Mock] fix aspirasi path namespace
  mock-server/index.js
Due: none

admin-broadcast-view change - to semua kota, semua kec, dll
  backend/src/views/broadcast/show.vue
Due: build_dev, test_backend

[API] [CI] test new env variables from gitlab CI
  api/models/Broadcast.php
Due: build_dev, test_api, test_backend

[API] [CI] Quickfix for failed CI caused by test env
  .env-sample
  api/tests/api/BroadcastCest.php
Due: build_dev, test_api, test_backend

[CI] Fix wrong env
  .env-sample
Due: none

[API] [Broadcast] Treat ROLE_STAFF_RW as user [ci skip]
  api/models/BroadcastSearch.php
Due: build_dev, test_api, test_backend

[API] [Broadcast] Fix issue when user can see old broadcast msgs
  api/models/BroadcastSearch.php
  api/tests/api/BroadcastCest.php
Due: build_dev, test_api, test_backend

admin-aspiration-api fetch data aspirasi
  backend/src/api/aspiration.js
Due: build_dev, test_backend

admin-aspiration-routing index
  backend/src/router/index.js
Due: build_dev, test_backend

admin-aspiration-routing
  backend/src/router/modules/aspiration.js
Due: build_dev, test_backend

admin-aspiration-language routing
  backend/src/lang/id.js
Due: build_dev, test_backend

admin-aspiration-list
  backend/src/views/aspiration/list.vue
Due: build_dev, test_backend

admin-aspiration lang.id
  backend/src/lang/id.js
Due: build_dev, test_backend

admin-aspiration routing detail
  backend/src/router/modules/aspiration.js
Due: build_dev, test_backend

admin-aspiration detail
  backend/src/views/aspiration/detail.vue
Due: build_dev, test_backend

admin-aspiration delete button create aspiration
  backend/src/views/aspiration/list.vue
Due: build_dev, test_backend

admin-aspiration routing to detail
  backend/src/views/aspiration/list.vue
Due: build_dev, test_backend

admin-aspiration api
  backend/src/api/aspiration.js
Due: build_dev, test_backend

admin-aspiration icon
  backend/src/router/modules/aspiration.js
Due: build_dev, test_backend

admin-aspiration lint fix
  backend/src/router/modules/aspiration.js
  backend/src/views/aspiration/detail.vue
Due: build_dev, test_backend

[API] [Notification] Add payload for mobile app
  api/models/Broadcast.php
  api/models/Notification.php
Due: build_dev, test_api, test_backend

[API] [Aspirasi] TDD Unit Test
  api/models/Aspirasi.php
  api/modules/v1/controllers/AspirasiController.php
  api/tests/unit/models/AspirasiTest.php
Due: build_dev, test_api, test_backend

[API] [Aspirasi] TDD Unit Test: title
  api/tests/unit/models/AspirasiTest.php
Due: build_dev, test_api, test_backend

[API] [Aspirasi] TDD Unit Test: description
  api/tests/data/1000chars.txt
  api/tests/unit/models/AspirasiTest.php
Due: build_dev, test_api, test_backend

[API] [Aspirasi] TDD Unit Test: status, attachments
  api/tests/unit/models/AspirasiTest.php
Due: build_dev, test_api, test_backend

[API] [Aspirasi] TDD Unit Test: create scenario user vs staff
  api/tests/unit/models/AspirasiTest.php
Due: build_dev, test_api, test_backend

[API] [Aspirasi] TDD Unit Test: update scenario user vs staff
  api/tests/unit/models/AspirasiTest.php
Due: build_dev, test_api, test_backend

[API] [Aspirasi] TDD API Test: user list, show, update, delete
  api/tests/api/AspirasiUserCest.php
Due: build_dev, test_api, test_backend

Path conditions:
  build_dev: any of: api/**/*, backend/**/*, *.yml
  test_api: any of: api/**/*, *.yml
  test_backend: any of: api/**/*, backend/**/*, *.yml
